<header>
    <h1 class="app-title">Jamir Honda</h1>
    <% if (isBack) { %>
        <div class="back-btn-box">
            <img src="/img/back-icon.png" onclick="history.back()" class="rounded-circle back-btn">
        </div>
    <% } else { %>
    <% } %>
</header>